<!DOCTYPE html>
<html>
<head>
  <title>API of Population Health System </title>
  <link href='/static/swagger/css/reset.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/swagger/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='/static/swagger/css/reset.css' media='print' rel='stylesheet' type='text/css'/>
  <link href='/static/swagger/css/screen.css' media='print' rel='stylesheet' type='text/css'/>
  <script type="text/javascript" src="/static/swagger/lib/shred.bundle.js"></script>
  <script src='/static/swagger/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/jquery.slideto.min.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/jquery.wiggle.min.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/handlebars-1.0.0.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/underscore-min.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/backbone-min.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/swagger.js' type='text/javascript'></script>
  <script src='/static/swagger/swagger-ui.js' type='text/javascript'></script>
  <script src='/static/swagger/lib/highlight.7.3.pack.js' type='text/javascript'></script>

  <!-- enabling this will enable oauth2 implicit scope support -->
  <script src='/static/swagger/lib/swagger-oauth.js' type='text/javascript'></script>

  <script type="text/javascript">
    $(function () {
      window.swaggerUi = new SwaggerUi({
      url: "/api/docs",
      dom_id: "swagger-ui-container",
      supportedSubmitMethods: ['get', 'post'],
      onComplete: function(swaggerApi, swaggerUi){
        log("Loaded SwaggerUI");

        if(typeof initOAuth == "function") {
          /*
          initOAuth({
            clientId: "your-client-id",
            realm: "your-realms",
            appName: "your-app-name"
          });
          */
        }
        $('pre code').each(function(i, e) {
          hljs.highlightBlock(e)
        });
      },
      onFailure: function(data) {
        log("Unable to Load SwaggerUI");
      },
      docExpansion: "none",
      sorter : "alpha"
    });

    $('#input_apiKey').change(function() {
      var key = $('#input_apiKey')[0].value;
      log("key: " + key);
      if(key && key.trim() != "") {
        log("added key " + key);
        window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
      }
    })
    window.swaggerUi.load();
  });
  </script>
</head>

<body class="swagger-section">
<div id='header'>
  <div class="swagger-ui-wrap">
    <a id="logo" href="/">POP API {{ OrganID }}</a>
  </div>
</div>

<div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
<div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</body>
</html>
